@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExploreCali.Models.Post
@{ 
    Layout = "_Layout";
}

<h1>
    Create blog Post
</h1>
<fieldset>
    <form asp-action="Create" asp-controller="Blog">
        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>
        <p>
            <label asp-for="Title"></label>
            <textarea asp-for="Title" class="form-control" placeholder="blog Title"></textarea>
            <span asp-validation-for="Title"></span>
        </p>
        <p>
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control" placeholder="blog content"></textarea>
            <span asp-validation-for="Body"></span>
        </p>
        <p>
            <button type="submit">create post</button>
        </p>
    </form>
</fieldset>